body, html {
  margin: 0;
  background-color: ghostwhite;
}

body a:hover {
  text-decoration: underline;
  text-decoration-color: #e71d36;
}

main {
  margin-left: max(10vw, 70px);
  margin-right: auto;
  padding: 5vw;
  min-height: 85vh;
  max-width: 1200px;
}

main h1 {
  font-family: 'Fira Sans', sans-serif;
}

main h2 {
  font-family: 'Fira Sans', sans-serif;

}

main p {
  font-family: 'Oxygen', sans-serif;

}

body button {
    color: #f7f7ff;
    background-color: #2E294E;
    font-size: 1rem;
    border: 0;
    box-shadow: 2px 2px 3px 2px #2E294E;
    border-color: #2E294E; 
    border-radius: 6px;
  }

body button:hover {
  background-color: #574D93;
}
/* Sidebar */
.sidebar {
  height: 100%;
  width: 70px;  /* 70px closed; 320px open*/
  background-color: #2E294E;
  position: fixed;
  font-family: 'Fira Sans', sans-serif;
  overflow: hidden;
  white-space: nowrap;
  z-index: 1;

  display: grid;
  grid-template-columns: 70px auto;
  grid-template-rows: 70px 100px 210px ;
  grid-template-areas: 
    "logo  logo-text"
    "open closed"
    "courses courses";

  justify-items: start;
  align-items: center;
}

.chevron-open {
  grid-area: open;
  justify-self: end;
  padding: 23px 6px 23px 23px;
  color: #f46036;
  font-size: 24px;
  background-color: transparent;
  border: 0;
}

.chevron-close {
  grid-area: closed;
  justify-self: end;
  padding: 23px 6px 23px 23px;
  color: #f46036;
  font-size: 24px;
  background-color: transparent;
  border: 0;
}

.chevron-open:hover, .chevron-close:hover {
  background-color: #574D93;
 /*  box-shadow: -2px 1px 2px 1px #443b74; */
  border: outset;
  border-color: #443b74; 
  
}


#logo {
  grid-area: logo;
  height: 50px;
  color: white;
  margin: 10px;
}

.logo-text {
  grid-area: logo-text;
  color: #C5D86D;
  font-size: 36px;
  margin-left: 10px;
  margin-top: 15px;
}

.sidebar-courses {
  grid-area: courses;
  display: grid;
  grid-template-columns: 320px;
  grid-template-rows: repeat(3, 70px);
  justify-items: start;
  align-items: center;

}

.course-link {
  width: 100%;
}

.course-link:hover {
  background-color: #574D93;
  text-decoration: none;
}

.sidebar-item-text {
  color: #C5D86D;
  font-size: 24px;
  margin-left: 10px;
}

.course-icon {
  margin: 10px;
  color: white;
  font-size: 40px;
}

.sidebar-courses .active {
  background-color: #f46036;
}

/* Homepage Course Grid */

.course-grid {
  position: relative;

  height: auto;
  min-height: 85vh;
  padding: 5vh 0 5vh 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.course-card {
  height: 40vw;
  width: 60vw;
  max-height: 200px;
  max-width: 300px;
  margin: 6vw;
  box-shadow: 8px 8px 5px 3px grey;
  border-radius: 10%;
}

.course-card img {
  height: 40vw;
  width: 60vw;
  max-height: 200px;
  max-width: 300px;
  border-radius: 10%;
}

.course-card-text {
  position: relative;
  bottom: 50px;
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
  color: white;
  font-size: 30px;

}

/* Social Studies with Carousel */
#carousel-by-association .carousel-caption {
  background-image: linear-gradient(#00000020, #000000);
  padding: 40px;
  bottom: 0;
  right: 0;
  left: 0;
}

#carousel-by-association .carousel-control-prev {
  opacity: 1;
}

#carousel-by-association .carousel-control-next {
  opacity: 1;
}

.question {
  margin: 3rem auto 2rem auto;
}

.question span {
  font-size: 1.5rem;
}

#question-mark {
  background-color: #2e294e;
  color: #f46036;
  padding: .5rem;
  border-radius: 10%;
}

.long-answer {
  margin: 1rem auto 1rem auto;
  width: 100%;
  height: 5rem;
  font-size: 1rem;
  overflow-y: scroll;
}


.hidden-answer {
  display: none;
}


/* footer */
footer {
  background-color: #c5d86d;
  text-align: center;
  height: 100%;
  padding: 1vh 0 2vh 0;
  display: block;
  position: relative;
  font-family: 'Oxygen', sans-serif;


}

.footer-text {
  margin-left: max(10vw, 70px);
  margin-right: auto;
  max-width: 1200px;
}

footer p {
  margin: auto;
  padding: 5px;
}